.story-slide {
	top: 30px;
	background-color: rgba(28, 141, 133, 0.85);
	min-width: 80%;
	min-height: 80%;
	right: -5000px;
}

.story-slide.in {
	right: 10%;
}

.map-button btn-explore btnmapinfo{
	padding-top:90%;
}
