.story-slide {
	top: 30px;
	background-color: rgb(84, 13, 68);
	min-width: 80%;
	min-height: 512px;
	color: rgb(255,255,255);
	right: -1500px;
}

.story-slide.in {
	right: 10%;
}

.mapinfo img{
	padding: 6px;
}

.story-slide-content{
	margin-top: -200px;
	background-color: rgba(0,0,0,.6);
	position: relative;
}

.explore-container{
	position: absolute;
	bottom: 0px;
	width: 100%;
}
