.story-slide {
	top: 30px;
	background-color: rgb(84, 13, 68);
	min-width: 80%;
	min-height: 450px;
	color: rgb(255,255,255);
	right: -1500px;
}

.story-slide.in {
	right: 10%;
}

.mapinfo img{
	padding: 6px;
}

.img-responsive{
	float: left;
	margin-bottom: 30px;
}

.story-slide-content{
	margin: 0 6px;
	margin-top: 8px;
	background-color: rgba(0,0,0,.6);
	position: relative;
}

.explore-container{
	position: absolute;
	bottom: 16px;
	width: 100%;
}

.explore-container .map-button{
	box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.5);
	border-radius: 4px;
}

div.cartodb-legend-stack{
	right: -800px;
	-webkit-transition: right 0.5s;
	transition: right 0.5s;
}

.cartodb-legend-stack-in{
	right: 20px !important;
}

.carto-key{
	position: fixed;
	right: 5px;
	bottom: 5px;
	background-color: #fff;
    	border-radius: 40px;
    	border-color: white;
    	border-width: thin;
    	color: #444;
    	border: 2px;
    	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    	height: 26px;
    	padding: 0 8px;
}

